body {
  margin: 50px;
  padding: 0;
}

a {
  text-decoration: none !important;
}

form {
  max-width: 400px;
  margin: 20px auto;
}

.search-bar {
  margin-bottom: 50px;
}

.btn-round {
  margin: 20px;
}

.homepage-img {
  width: 100%;
  height: 20%;
  filter: none;
}

.homepage-img:hover {
  filter: grayscale(1.1);
  animation: ease-in color 1.2s;
}

.homepage-text:hover {
  text-decoration: underline;
}

.home-icon {
  height: 30px;
}

.home-icon:hover {
  transform: scale(1.3);
}

.navbar {
  width: 100%;
  height: 30%;
  background-color: rgba(128, 0, 128, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  padding: 10px 0px 10px 0px;
}

.mapped-beers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  background-color: lightgray;
  margin-bottom: 20px;
  padding: 15px 0px 15px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
  border-radius: 10px;
  max-width: 100%;
  line-height: 1;
}

